@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a class="btn btn-primary" asp-area="UserModule" asp-controller="Users" asp-action="Index">User Module</a>
<br />
<br />
<a class="btn btn-primary" asp-action="RedirectToArea" asp-controller="Demo">Redirect to Action</a>
<br />
<br />
<a class="btn btn-primary" asp-area="AdminModule" asp-controller="Admin" asp-action="Index">Admin Module</a>